header {
  padding-top: 70px;
  padding-bottom: 16.29px;
  padding-inline: 23.5px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  font-size: 17px;
  background-color: white;
}
.container {
  margin-top: 108px;
  margin-bottom: 132.92px;
}

.nav-bar {
  height: 68.85px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav-bar a {
  text-decoration: none;
  color: black;
}
